---
---

@import "{{ site.theme }}";

h1 {
    text-transform: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
