---
---

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFBEF;
}

h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
}

.tagline {
    font-style: italic;
}

.container {
    max-width: 1200px;
    min-width: 800px;
    width: 75%;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #00000066;
    color: #333333;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #00000033;
    padding: 10px;
}

nav .hamburger {
    display: none;
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    padding: 10px;
}

nav .nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav .nav-list li {
    margin: 0 5px;
}

nav .nav-list a {
    color: #6666CC;
    text-decoration: none;
}

nav .nav-list a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #00000033;
    color: #333333;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: .85em;
}

div.character-table + thead table {
    padding: 5px;
}

div.character-table + thead th {
    text-align: left;
    font-weight: bold;
}

/* small screens */
@media (max-width: 800px) {
    .container {
        min-width: 375px;
        width: 100%;
    }

    nav .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav .nav-list.active {
        display: flex;
    }

    nav .hamburger {
        display: block;
    }
}